{% block _attribute_configuration_choices_widget %}
<button type="button" class="btn btn-success mb-2 collection-add">
  <i class="fas fa-plus"></i>
</button>
<div class="collection" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}">
{% for child in form %}
  {{ form_widget(child) }}
{% endfor %}
</div>
{% endblock %}

{% block _attribute_configuration_choices_entry_widget %}
<div class="input-group collection-items mb-2">
  {{ form_widget(form) }}
  <div class="input-group-append">
    <button type="button" class="btn btn-danger collection-remove">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
{% endblock %}
